<form #loginForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input 
        #email="ngModel" 
        type="text"
        class="form-control"
        name="email"
        id="email"
        placeholder="Email"
        email
        ngModel
        required>
      <div
        class="alert alert-danger"
        *ngIf="email.invalid && email.touched"
      >
        Invalid Email, example foulen@domain
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input 
        #password="ngModel" 
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="Password"
        minlength="5"
        ngModel
        required>
      <div
        class="alert alert-danger"
        *ngIf="password.invalid && password.touched"
      >
        Invalid Password, must have at least 5 characters
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-success btn-lg"
    [disabled]="loginForm.invalid"
    (click)="handleLogin(loginForm)">
      Login
  </button>
</form>